.features .glyphicon {
    font-size: 32px;
}

.checked {
    background-color: darkgray;
    text-decoration: line-through;
}

.add_task_form {
    display: none;
}

.hidden {
    display: none;
}

.old {
    display: none;
}